body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(#FFC81D, #FF9F33);
    border-radius: 5px;
}

section {
    margin-bottom: 150px;
}

.hero-area {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.display-flexible {
    display: flex;
}

.half-width {
    width: 50%;
}

.hero-left {
    padding: 10px 100px;
}

.hero-left h1 {
    font-size: 50px;
    font-weight: bold;
}

.hero-left span.color-orange {
    color: #FB6756;
}

.hero-left h3 {}

.hero-left p {
    font-size: 17px;
    color: rgb(121, 120, 120);
    font-weight: 300;
    padding-right: 30px;
    text-align: justify;
    margin-bottom: 30px;
}


.hero-right {}

.hero-right img {
    width: 85%;
    padding-top: 50px;


}

.dream-area {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.dream-left {
    padding: 10px 8px 10px 100px;
}

.dream-left img {
    width: 79%;
}

.dream-right {}

.dream-right h1 {
    font-size: 40px;
}

.dream-right p {
    font-size: 17px;
    color: rgb(121, 120, 120);
    font-weight: 300;
    text-align: justify;
    margin-bottom: 40px;
    padding-right: 105px;

}